<div class="cd-tabs">
  <!-- Navigation -->
  <nav class="navbar-inverse" role="navigation" id="navbar-main">
    <ul class="cd-tabs-navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>

      <div class="collapse navbar-collapse" id="navCollapse">
        <ul class="nav navbar-nav navbar-right">
          {{#each enabledServices}}
            <li>
              {{#if default}}
                <a data-content="{{_id}}" class="selected"><span class="{{icon}} fa-lg"></span> {{name}}</a>
              {{else}}
                <a data-content="{{_id}}"><span class="{{icon}} fa-lg"></span> {{name}}</a>
              {{/if}}
            </li>
          {{/each}}
          <li><a id="settings"><span class="fa fa-cog fa-lg"></span></a></li>
          <li><a id="commits"><span class="fa fa-github fa-lg"></span></a></li>
          <li><a id="reload"><span class="fa fa-refresh fa-lg"></span></a></li>
        </ul>
      </div>
    </ul>
  </nav>
  <!--end nav bar-->

  <ul class="cd-tabs-content">
    {{#each services}}
      {{#if default}}
        <li data-content="{{_id}}" class="selected">
          <iframe sandbox="allow-forms allow-same-origin allow-pointer-lock allow-scripts allow-popups allow-modals" scrolling="auto" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" src="{{url}}"></iframe>
        </li>
      {{else}}
        <li data-content="{{_id}}">
          <iframe sandbox="allow-forms allow-same-origin allow-pointer-lock allow-scripts allow-popups allow-modals" scrolling="auto" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" data-src="{{url}}"></iframe>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<!-- Service Modal -->
<div class="modal fade" id="modalSettings" tabindex="-1" role="dialog" aria-labelledby="Settings" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modalSettingsLabel">Settings</h4>
        </div>
        <div class="modal-body">
          <form id="form" name="form" class="form-horizontal" method="POST" action="/" enctype="application/json">
            <div class="form-group">
              <label class="col-sm-1" for="title">Title</label>
              <div class="col-sm-5"><input type="text" class="form-control input-sm" id="title" value="{{title}}" name="title" placeholder="website title"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-1" for="port">Port</label>
              <div class="col-sm-5"><input data-toggle="tooltip" title="requires restart" type="number" min="0" class="form-control input-sm" id="port" name="port" value="{{port}}" placeholder="port"></div>
            </div>

            <div class="col-xs-3">Name</div>
            <div class="col-xs-4">URL</div>
            <div class="col-xs-2">Icon</div>
            <div class="col-xs-2">Sort</div>
            <div class="col-xs-1">Default</div>

            {{#each allServices}}
              <input type="hidden" name="services[{{_id}}][_id]" value="{{_id}}" />
              <div class="form-group">
                <div class="col-xs-3">
                  <input type="text" class="form-control input-sm" name="services[{{_id}}][name]" value="{{name}}" placeholder="name">
                </div>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-sm" name="services[{{_id}}][url]" value="{{url}}" placeholder="url">
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control input-sm" name="services[{{_id}}][icon]" value="{{icon}}" placeholder="icon">
                </div>
                <div class="col-xs-2">
                  <input type="number" min="0" class="form-control input-sm" name="services[{{_id}}][sort]" value="{{sort}}" placeholder="sort">
                </div>
                <div class="col-xs-1">
                  <div class="radio">
                  <label>
                    {{#if default}}
                      <input type="radio" name="default" value="{{_id}}" checked>
                    {{else}}
                      <input type="radio" name="default" value="{{_id}}">
                    {{/if}}
                  </label>
                  </div>
                </div>
              </div>
            {{/each}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="submit" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Commit Modal -->
<div class="modal fade" id="modalCommits" tabindex="-1" role="dialog" aria-labelledby="Commits" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalSettingsLabel">Changelog</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
